{% extends "catalog/base_generic.html" %}

{% block content %}
    <h1>Author: {{ author.last_name }}, {{ author.first_name }}</h1>
    <p>
    {{ author.date_of_birth }} - {% if author.date_of_death %}{{ author.date_of_death }}{% endif %}
    </p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>

        <dl>

        {% for book in author.book_set.all %}
            <hr>
            <dt><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.bookinstance_set.count }})</dt>
            <dd>{{ book.summary }}</dd>
        {% endfor %}

        </dl>

        {% if perms.catalog.can_edit_author %}
        <ul>
            <li>
            <a href="{% url 'catalog:author-update' author.pk %}">Edit author</a>
            </li>
            <li>
            <a href="{% url 'catalog:author-delete' author.pk %}">Delete author</a>
            </li>
        </ul>
        {% endif %} 

    </div>
{% endblock content %}
